<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <p class="title">Text widget</p>

          <div class="desc">
            Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item twitter">
          <p class="title">Twitter widget</p>

          <a href="#"><span>@ericafustero</span> Why thank you. Your work looks awesome by the way! <span>@treemelody</span></a>

          <span class="date">19 days ago</span>

          <a href="#"><span>@roymarvelous</span> You can seek a refund through TF if it is not as advertised - but it is :)</a>

          <span class="date">21 days ago</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <p class="title">Flickr widget</p>

          <img src="img/flickr.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>