<div class="footer-social">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-7">
        <div class="item newsletter">
          <form action="/">
            <input class="email" type="text" name="email" placeholder="Enter email for newsletter">
            <input class="button" type="submit" value="send">
          </form>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-5">
        <div class="item social">
          <a href="#">facebook</a>
          <a href="#">twitter</a>
          <a href="#">google plus</a>
          <a href="#">Instagram</a>
          <a href="#">flickr</a>
        </div>
      </div>
    </div>
  </div>
</div>