<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="menu-icon visible-xs">
        </div>
        <ul class="main-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Pages</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="cart">
          <span>0</span>
        </div>
        <div class="favorite">
          <span>30</span>
        </div>
      </div>
    </div>
  </div>
</nav>