<div class="news row">
  <div class="col-md-3">
    <div class="item">
      <p class="title">Free Shipping</p>

      <div class="desc">Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat sem, </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="item">
      <p class="title">Testimonials</p>

      <div class="desc">vel, vulputate vel nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat sem, vehicula id dictum sit [...]</div>

      <p class="author">- John Doe -</p>
    </div>
  </div>
  <div class="col-md-6 blog">
    <div class="item">
      <p class="title">Blog news</p>

      <p class="date">Apr <span>01</span></p>

      <div class="text">
        <p class="subtitle">Nice & clean. The best for you blog!</p>
        <p>Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh. </p>
      </div>

      <p class="date clear">Apr <span>01</span></p>

      <div class="text">
        <p class="subtitle">Nice & clean. The best for you blog!</p>
        <p>Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh. </p>
      </div>
    </div>
  </div>
</div>