<div class="offers">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a class="item" href="#">
          <p class="title"><span>On sale</span></p>
          <img class="img-responsive" src="img/offer1.jpg" alt="On sale">
        </a>
      </div>
      <div class="col-sm-4">
        <a class="item" href="#">
          <p class="title"><span>Special offers</span></p>
          <img class="img-responsive" src="img/offer2.jpg" alt="Special offers">
        </a>
      </div>
      <div class="col-sm-4">
        <a class="item" href="#">
          <p class="title"><span>Must have</span></p>
          <img class="img-responsive" src="img/offer3.jpg" alt="Must have">
        </a>
      </div>
    </div>
  </div>
</div>