<div class="products">
  <p class="button pull-right">Show All</p>
  <p class="title">New arrivals on FooseShoes</p>

  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <a class="product" href="#">
          <img src="img/product1.jpg" alt="Even&amp;amp;Odd">
          <hr>
          <span class="text-left">
            <span class="price">$145,99</span>
            <span class="name">Even&amp;amp;Odd</span>
          </span>
        </a>

        <div class="links">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="item">
        <a class="product" href="#">
          <img src="img/product2.jpg" alt="Even&amp;amp;Odd">
          <hr>
          <span class="text-left">
            <span class="price">$145,99</span>
            <span class="name">Even&amp;Odd</span>
          </span>
        </a>

        <div class="links">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="item">
        <a class="product" href="#">
          <img src="img/product3.jpg" alt="Even&amp;Odd">
          <hr>
          <span class="text-left">
            <span class="price">$145,99</span>
            <span class="name">Even&amp;Odd</span>
          </span>
        </a>

        <div class="links">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>

  <p class="button pull-right">Show All</p>
  <p class="title">Best sellers of the month</p>

  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <a class="product" href="#">
          <img src="img/product4.jpg" alt="Even&amp;Odd">
          <hr>
          <span class="text-left">
            <span class="price">$145,99</span>
            <span class="name">Even&amp;Odd</span>
          </span>
        </a>

        <div class="links">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="item">
        <a class="product" href="#">
          <img src="img/product5.jpg" alt="Even&amp;Odd">
          <hr>
          <span class="text-left">
            <span class="price">$145,99</span>
            <span class="name">Even&amp;Odd</span>
          </span>
        </a>

        <div class="links">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="item">
        <a class="product" href="#">
          <img src="img/product6.jpg" alt="Even&amp;Odd">
          <hr>
          <span class="text-left">
            <span class="price">$145,99</span>
            <span class="name">Even&amp;Odd</span>
          </span>
        </a>

        <div class="links">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>
</div>