<div class="slider">
  <div class="container">
    <div class="cycle-slideshow"
        data-cycle-fx=scrollHorz
        data-cycle-timeout=0
        data-cycle-slides="> div"
        data-cycle-pager="#per-slide-template"
        >
        <div data-cycle-pager-template="<a href=#>Pink Shoes <span>Now af $145,99</span></a>">
            <img src="img/slide.png" alt="">
            <div class="info">
                <p class="price">$145,99</p>
                <h2 class="title">Pink Shoes<br> 2013 Collection</h2>
                <p class="desc">Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..</p>
            </div>
        </div>
        <div data-cycle-pager-template="<a href=#>Anna Field <span>Limited Edition</span></a>">
            <img src="img/slide.png" alt="">
            <div class="info">
                <p class="price">$145,99</p>
                <h2 class="title">Pink Shoes<br> 2013 Collection</h2>
                <p class="desc">Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..</p>
            </div>
        </div>
        <div data-cycle-pager-template="<a href=#>Prada <span>Summer is coming</span></a>">
            <img src="img/slide.png" alt="">
            <div class="info">
                <p class="price">$145,99</p>
                <h2 class="title">Pink Shoes<br> 2013 Collection</h2>
                <p class="desc">Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..</p>
            </div>
        </div>
        <div data-cycle-pager-template="<a href=#>Casadei <span>All Colors avaiable</span></a>">
            <img src="img/slide.png" alt="">
            <div class="info">
                <p class="price">$145,99</p>
                <h2 class="title">Pink Shoes<br> 2013 Collection</h2>
                <p class="desc">Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..</p>
            </div>
        </div>
        <div data-cycle-pager-template="<a href=#>Mellow Yellow <span>Free delivery</span></a>">
            <img src="img/slide.png" alt="">
            <div class="info">
                <p class="price">$145,99</p>
                <h2 class="title">Pink Shoes<br> 2013 Collection</h2>
                <p class="desc">Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..</p>
            </div>
        </div>
    </div>
    <!-- empty element for pager links -->
    <div id=per-slide-template class="center external"></div>
  </div>
</div>